/* Ini File CSS */

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
  padding: 30px;
  max-width: 1200px;
}

footer {
  text-align: center;
}

.main-header {
  text-align: center;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

button {
  border: none;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.Bg-Hitam {
  background-color: black;
}

.Bg-Biru {
  background-color: cadetblue;
}

.result-section {
  padding: 16px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.hasil-bmi {
  font-size: xx-large;
  font-style: bold;
  font-family: math;
}

.Download-Hasil {
  text-align: center;
  background-color: cadetblue;
}

.Ahli {
  background-color: cadetblue;
}

.setting-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.sub-parag {
  font-size: 18px;
  text-align: center;
}

.list-risk {
  text-align: center;
}

.bawah {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.img-content {
  width: 350px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
}
